<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
	<div class="container-fluid">
		<a class="navbar-brand" [routerLink]="['home']" class="logo">
			<img src="/assets/Images/amr-diwan-logo.png" alt="logo-img" class="logo-img" />
			<!-- <img src="/assets/Images/white-full-logo.png" alt="logo-img" class="white-logo-img" /> -->
		</a>
		<button
			class="navbar-toggler"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#navbarNavDropdown"
			aria-controls="navbarNavDropdown"
			aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse flex-row-reverse justify-content-center" id="navbarNavDropdown">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a
						class="nav-link"
						aria-current="page"
						[routerLink]="[RoutePaths.Home]"
						routerLinkActive="active"
						data-bs-toggle="collapse"
						data-bs-target=".navbar-collapse.show">
						home
					</a>
				</li>
				<li class="nav-item">
					<a
						class="nav-link"
						[routerLink]="[RoutePaths.About]"
						routerLinkActive="active"
						data-bs-toggle="collapse"
						data-bs-target=".navbar-collapse.show">
						about
					</a>
				</li>
				<li class="nav-item art">
					<a
						class="nav-link"
						[routerLink]="[RoutePaths.ArtWorks]"
						routerLinkActive="active"
						data-bs-toggle="collapse"
						data-bs-target=".navbar-collapse.show"
						(mouseenter)="toggleScrolled(true)"
						(mouseleave)="toggleScrolled(false)">
						Art Works
					</a>
					<div class="art-categories">
						<div class="art-inner-categories">
							<img src="assets/Images/kansas-wall-2.jpg" />
							<h5 class="sub-title gold-text">EGYPT PROJECTS</h5>
							<div class="art-links">
								<a>Project 1</a>
								<a>Project 2</a>
								<a>Project 3</a>
								<a>Project 4</a>
							</div>
						</div>
						<div class="art-inner-categories">
							<img src="assets/Images/kansas-wall-2.jpg" />
							<h5 class="sub-title gold-text">EGYPT PROJECTS</h5>
							<div class="art-links">
								<a>Project 1</a>
								<a>Project 2</a>
								<a>Project 3</a>
								<a>Project 4</a>
							</div>
						</div>
						<div class="art-inner-categories">
							<img src="assets/Images/kansas-wall-2.jpg" />
							<h5 class="sub-title gold-text">EGYPT PROJECTS</h5>
							<div class="art-links">
								<a>Project 1</a>
								<a>Project 2</a>
								<a>Project 3</a>
								<a>Project 4</a>
							</div>
						</div>
						<div class="art-inner-categories">
							<img src="assets/Images/kansas-wall-2.jpg" />
							<h5 class="sub-title gold-text">EGYPT PROJECTS</h5>
							<div class="art-links">
								<a>Project 1</a>
								<a>Project 2</a>
								<a>Project 3</a>
								<a>Project 4</a>
							</div>
						</div>
					</div>
				</li>
				<li class="nav-item">
					<a
						class="nav-link"
						[routerLink]="[RoutePaths.Contact]"
						routerLinkActive="active"
						data-bs-toggle="collapse"
						data-bs-target=".navbar-collapse.show">
						Contact
					</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
