<div class="page-inner art-page">
	<aside>
		<div class="input-group mb-5 mt-5">
			<input
				type="text"
				class="gold-text"
				[(ngModel)]="SearchText"
				placeholder="Search"
				aria-label="Search"
				aria-describedby="basic-addon1"
				(input)="Search()" />
			<i class="fa fa-search input-group-text gold-text" id="basic-addon1"></i>
		</div>
		<div *ngFor="let project of filteredProjects;let i = index">
			<a
				(click)="GoToProject(project.CssClass!)"
				href="javascript:void(0)"
				class="gold-text project-tab {{project.Id}}"
				[class.active]="activeProjectId === project.Id">
				{{project.MenuName}}
				<span>
					<i class="fa fa-thumb-tack"></i>
					{{project.Location}}
				</span>
			</a>
		</div>
		<div>
			<a href="javascript:void(0)" class="gold-text project-tab moreprojects" id="0" (click)="GoToProject('more-projects')">
				<!-- <i class="fa fa-map-marker"></i> -->
				More Projects...
			</a>
		</div>
	</aside>

	<div class="page-section art-div">
		<div class="text-center w-100">
			<h1 class="gold-text" style="font-size: 60px; padding: 20px">Projects</h1>
		</div>
		<div class="project" #projectElement [ngClass]="project.CssClass" *ngFor="let project of Projects; let i = index" [id]="'project-' + project.Id">
			<h1 class="title gold-text">{{project.Name}}</h1>
			<div class="images">
				<div class="div-video">
					<video
						*ngIf="project.Videos!=null"
						[src]="project.Videos[0]"
						#videoPlayer
						class="video"
						preload
						loop
						autoplay
						muted="muted"
						playsinline
						style="visibility: visible"
						type="video/mp4"></video>
				</div>
				<p class="sub-title" [innerHTML]="project.Description"></p>
				<ng-container *ngFor="let img of project.Images; let j = index">
					<div class="hoverable-img-item" [ngClass]="'div' + (j+1)">
						<img class="img" loading="lazy" [src]="img" alt="" data-bs-toggle="modal" [attr.data-bs-target]="'#project-' + i + '-' + j" />
					</div>
					<!-- Modal -->
					<!-- <div class="modal fade" [id]="'project-' + i + '-' + j" tabindex="-1" aria-labelledby="projectLabel">
						<div class="modal-dialog modal-dialog-centered">
							<div class="modal-content" (click)="$event.stopPropagation()">
								<div class="modal-header">
									<h1 class="modal-title fs-5" id="projectLabel">{{category.Name}}</h1>
									<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
								</div>
								<div class="modal-body">
									<img class="img-modal" [src]="img" alt="" />
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
								</div>
							</div>
						</div>
					</div> -->
				</ng-container>
			</div>
		</div>

		<div class="project more-projects" #projectElement id="moreprojects-0">
			<h1 class="title gold-text">More Projects</h1>
			<p class="sub-title">For More Projects With Diwan Studios</p>
			<div class="images">
				<a
					*ngFor="let project of MoreProjects; let i = index"
					class="hoverable-img-item"
					[href]="AppConfig.env.DiwanStudiosUrl + project.Link"
					target="_blank">
					<img class="img" [src]="project.Images[0]" alt="project display image" />
					<div class="visible">{{project.Name}}</div>
				</a>
			</div>
		</div>
	</div>
</div>
