<div class="page-inner">
	<aside>
		<div class="category" *ngFor="let category of categories;let i = index" id="{{category.Name.replace(' ','')}}">
			<a href="javascript:void(0)" class="active" [attr.data-category]="category.Name.replace(' ','')">
				<i class="fa fa-user-o" aria-hidden="true"></i>
				{{category.Name}}
			</a>
		</div>
	</aside>
	<div class="page-section art-div">
		<div class="category" *ngFor="let category of categories;let i = index" id="{{category.Name.replace(' ','')}}">
			<h1 class="title">{{category.Name}}</h1>
			<p class="sub-title">{{category.Description}}</p>
			<div class="images">
				<div *ngFor="let img of category.Images;let i = index " class="hoverable-img-item">
					<img class="img" src="{{img}}" alt="" />
					<!-- <div class="visible">
						<h1 class="productn d-block h5 mb-2">title</h1>
						<h6 class="price me-1">Lorem ipsum dolor sit amet consectetur adipisicing.</h6>
					</div> -->
				</div>
			</div>
		</div>
	</div>
</div>
