.page-inner {
	display: flex;
	align-items: flex-start;
	// max-height: 100vh;
	// overflow: hidden;
	margin-top: var(--header-height);
	.side-bar {
		min-width: 260px;
	}
	aside {
		position: sticky;
		top: var(--header-height);
		min-width: 260px;
		padding-left: 15px;
		height: 100vh;
		background-color: #191919;
		// box-shadow: 3px 0px 10px 0px var(--primary-cool-color1);

		a {
			font-size: 16px;
			color: white;
			display: block;
			padding: 12px;
			padding-left: 10px;
			margin-bottom: 5px;
			text-decoration: none;
			opacity: 0.8;

			-webkit-tap-highlight-color: transparent;
			i {
				margin-right: 5px;
			}
		}

		a:hover,
		a.active {
			position: relative;
		}
		a:hover {
			font-weight: bold;
		}
		a.active {
			opacity: 1;
		}
	}

	.art-div {
		overflow: auto;
		flex-direction: column;
		padding-left: 20px;
		// flex-grow: 1;
		// height: 100%;
		.category {
			margin-bottom: 50px;
			.sub-title {
				margin-top: 10px;
				margin-left: 25px 0px;
				width: 90%;
				// opacity: 0.8;
			}

			.images {
				display: flex;
				flex-wrap: wrap;
				justify-content: flex-start;

				.hoverable-img-item {
					width: 100%;
					max-width: 300px;
					margin: 10px;
					cursor: pointer;

					img {
						height: 250px;
						width: 100%;
						object-fit: cover;
					}
				}

				// .hoverable-img-item {
				// 	position: relative;
				// 	overflow: hidden;
				// 	height: 250px;

				// 	&:hover {
				// 		.img {
				// 			transform: scale(1.1);
				// 		}
				// 		.visible {
				// 			display: block;
				// 		}
				// 	}

				// 	.visible {
				// 		display: none;
				// 		position: absolute;
				// 		bottom: 0;
				// 		left: 0;
				// 		background-color: rgba(0, 0, 0, 0.4);
				// 		width: 100%;
				// 		text-align: center;
				// 		padding: 10px 0;
				// 	}
				// }
			}
		}
	}
}
