// .p-narrow{
//     max-width: 40ch;
//     color: #b8bfd4;
// }
// .contact {
//     overflow-x: hidden;
//   }

.page-inner {
	display: flex;
	background-color: #000;
	background-image: conic-gradient(
			at 0% 55%,
			rgb(60 60 60 / 40%),
			transparent 22%
		),
		radial-gradient(at 82% 65%, rgb(237, 209, 0, 0.3) 0, transparent 55%);
	img {
		max-width: 400px;
	}
}
