$font-color: var(--gold1);
$font-color-secondary: var(--gold2);

.page-inner {
	.page-section {
		margin-bottom: 20px;
		.content {
			.gold-text {
				font-size: 70px;
			}
		}
		img {
			max-width: 600px;
			max-height: 400px;
			object-fit: contain;
		}

		&.about-artist {
			justify-content: flex-start;
			overflow: hidden;
			.content {
				width: 50%;
				z-index: 2;
				position: relative;
				margin: 5%;
				margin-top: var(--header-height);
			}

			.image {
				background-image: url('../../../assets/Images/about-founder.png');
				width: 100%;
				position: absolute;
				top: 0;
				height: 100%;
				background-size: cover;
			}
		}

		&.about-company {
			.content {
				margin: 5%;
				a {
					i {
						font-size: 24px;
					}
					color: $font-color-secondary;
					&:hover {
						color: $font-color;
					}
				}
			}
			img {
				width: 400px;
			}
		}
	}
}

@media (max-width: 576px) {
	.page-inner {
		.page-section {
			.content {
				.gold-text {
					font-size: 45px;
				}
			}
			.image {
				background-position: center;
			}

			&.about-company {
				.content {
					position: static;
				}
				img {
					width: 300px;
				}
			}
		}
	}
}
